<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Phish</title>
    <style>
        body {
            background-color: rgb(20, 20, 20);
            color: white;
        }
    </style>
</head>
<body>
    <h1>Type test text:</h1>
    <form method="POST">
        Username:
        <input type="text" name="text">
        <br>
        Password
        <input type="password" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
